{% if visit_histories is not empty %}

  <table class="table">
    <thead>
      <tr>
        <th>Дата визита</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for visit in visit_histories %}
      <tr>
        <td>{{ visit.visit_date|date('d.m.Y H:i') }}</td>
        <td><a href="{{ 'edit-doctor' | page({ id: doctor.id }) }}" class="btn btn-warning">Просмотреть</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>История посещений отсутствует.</p>
{% endif %}