description = "Default layout"

[account]
redirect = "profile"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[session]
security = "all"
redirect = "login"
==
<!DOCTYPE html>
<html lang="ru">
    <head>
        
        <meta charset="utf-8">
        <title>Winter CMS - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link href="{{ 'assets/images/favicon.ico'|theme }}" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ 'assets/lib/animate/animate.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/lib/owlcarousel/assets/owl.carousel.min.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'|theme }}" rel="stylesheet" />
        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ 'assets/css/bootstrap.min.css'|theme }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
            <div class="row gx-0 d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <small class="fa fa-map-marker-alt text-primary me-2"></small>
                        <small>{{this.theme.address}}</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-3">
                        <small class="far fa-clock text-primary me-2"></small>
                        <small>{{this.theme.worktime}}</small>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                        <small class="fa fa-phone-alt text-primary me-2"></small>
                        <small>{{this.theme.phone}}</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center">

                        {% for item in this.theme.social %}
                            <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href="{{item.url}}" target="_blank"><i class="{{item.awesome_icon}}"></i> </a>   
                                
                                
                                <div class="owl-carousel-item position-relative">

                                {% if item.heroSlide %}
                                    <img src="{{ item.heroSlide | media | resize(991, 991, { mode: 'crop', quality: '80', extension: 'webp' })}}" alt="{{ item.heroSlideTitle }}">
                                {% endif %}

                                <div class="owl-carousel-text">
                                    <h1 class="display-1 text-white mb-0">{{item.heroSlideTitle}}</h1>
                                </div>
                            </div>
                        {% endfor %}

                        
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
            <a href="{{ url('/') }}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Klinik</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">

                  {% for group in user.groups %}
                      {% if group.code == 'admins' %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Профиль</a>
                            <div class="dropdown-menu rounded-0 rounded-bottom m-0" style="right: 0 !important; left:auto!important;">
                                <a href="{{ url('/profile') }}" class="dropdown-item">Профиль</a>
                                <a href="{{ url('/list-doctors') }}" class="dropdown-item">Список врачей</a>
                                <a href="{{ url('/create-doctor') }}" class="dropdown-item">Создать врача</a>
                                <a href="{{ url('/list-patients') }}" class="dropdown-item">Список пациентов</a>
                                <a href="{{ url('/create-patient') }}" class="dropdown-item">Создать пациента</a>
                                {# <a href="{{ url('/appointment') }}" class="dropdown-item">Записи</a> #}
                                <a href="javascript:;" data-request="onLogout" data-request-data="redirect: '/login'" class="dropdown-item">Выход</a>
                                
                            </div>
                        </div>

                        {% else %}
                          <div class="nav-item dropdown">
                              <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Профиль</a>
                              <div class="dropdown-menu rounded-0 rounded-bottom m-0" style="right: 0 !important; left:auto!important;">
                                  <a href="{{ url('/profile') }}" class="dropdown-item">Профиль</a>
                                  <a href="{{ url('/appointment') }}" class="dropdown-item">Записи</a>
                                  <a href="javascript:;" data-request="onLogout" data-request-data="redirect: '/login'" class="dropdown-item">Выход</a>
                                  
                              </div>
                          </div>
                      
                      {% endif %}
                  {% endfor %}

                  

                </div>

                
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Page Header Start -->
        {% partial 'site/header' %}
        <!-- Page Header End -->

        <!-- Content -->
        {% page %}



        <!-- Footer Start -->
        {% partial 'site/footer' %}
        <!-- Footer End -->

       
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ 'assets/lib/wow/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/lib/easing/easing.min.js'|theme }}"></script>
        <script src="{{ 'assets/lib/waypoints/waypoints.min.js'|theme }}"></script>
        <script src="{{ 'assets/lib/counterup/counterup.min.js'|theme }}"></script>
        <script src="{{ 'assets/lib/owlcarousel/owl.carousel.min.js'|theme }}"></script>
        <script src="{{ 'assets/lib/tempusdominus/js/moment.min.js'|theme }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/ru.js"></script>
        <script src="{{ 'assets/lib/tempusdominus/js/moment-timezone.min.js'|theme }}"></script>
        <script src="{{ 'assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'|theme }}"></script>
    
        <!-- Template Javascript -->
        <script src="{{ 'assets/javascript/main.js'|theme }}"></script>


        <script>
          function handleFormResponse(data, formType) {
            // Выведем ответ в консоль для проверки
            console.log('Ответ от сервера:', data);

            // Проверка на ошибки
            if (data.error) {
                // Выводим сообщение об ошибке
                $('#flash-message').html('<div class="alert alert-danger">' + data.message + '</div>');
            } else {
                // Выводим сообщение об успехе
                $('#flash-message').html('<div class="alert alert-success">' + data.message + '</div>');

                // Сбрасываем форму для создания врача или пациента
                if (formType === 'createDoctor') {
                    $('#doctorForm')[0].reset();
                } else if (formType === 'createPatient') {
                    $('#patientForm')[0].reset();
                }
            }

            // Убираем сообщение через 5 секунд
            setTimeout(function() {
                $('#flash-message').html('');
            }, 5000);
          }


          $(function () {
            // Устанавливаем русскую локализацию для Moment.js
            moment.locale('ru');

            // Инициализация DateTimePicker с русской локализацией
            $('#datepicker').datetimepicker({
              format: 'DD.MM.YYYY HH:mm', // Формат даты и времени на русском
              locale: 'ru',  // Локализация на русский
              icons: {
                  time: 'fa fa-clock',
                  date: 'fa fa-calendar',
                  up: 'fa fa-chevron-up',
                  down: 'fa fa-chevron-down',
                  previous: 'fa fa-chevron-left',
                  next: 'fa fa-chevron-right',
                  today: 'fa fa-calendar-check-o',
                  clear: 'fa fa-trash',
                  close: 'fa fa-times'
              }
            });
          });

          $('#timepicker').datetimepicker({
            format: 'HH:mm',  // Формат времени (часы:минуты)
            locale: 'ru',
            icons: {
                time: 'fa fa-clock',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check-o',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            },
            // Включаем только часы и минуты, без даты
            pickDate: false
        });


           
      </script>


        {% snowboard all %}
        {% framework %}
        
        
        
        {% scripts %}

    </body>
</html>