.reset-pass-custom-image {
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
}


.reset-pass-custom-image img{
  position: absolute;
  width: 80%!important;
  height: 80%!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: contain;
  object-position: center;
  overflow: visible;
  border-radius: 0!important;
}

.new-patient {
    background-color: #3f6791; 
}

#select2-patient_id-results .select2-results__option {
  font-size: 13px;
}

